 <div class="container">
  <div class="row"> row 1  </div>
  <div class="row"> row 2  </div>
  <div class="row"> row 3  </div>
  <div class="row">
     <div class="col-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus quidem laboriosam repellendus, cum dolor eveniet maiores necessitatibus reprehenderit id qui expedita ea, in vel, dolorem consequatur omnis non. Sit, suscipit?</div>
     <div class="col-7">col 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde mollitia quidem iusto ipsam accusamus delectus veritatis qui magnam. Doloremque cum nulla sequi sapiente quaerat vel officiis, placeat nobis reprehenderit quo ut asperiores repellat debitis. Culpa omnis quidem ea exercitationem. Voluptate beatae laboriosam iure excepturi distinctio. Accusamus, praesentium blanditiis. Exercitationem, aliquid!</div>



  </div>
 </div>
 <hr>
      <div class="container">
       <div class="row">
        <div class="col-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laboriosam, repellendus ipsam cum, quibusdam aut esse aliquam saepe illo pariatur, iure facere totam natus autem unde labore deleniti placeat rerum mollitia exercitationem voluptates necessitatibus eaque inventore sapiente? Voluptatem, consequuntur consequatur! Animi enim, hic, suscipit, corporis ea nemo ratione tenetur iure quisquam in quod vero sit! Officia exercitationem cum reprehenderit impedit.</div>
        <div class="col-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa minus iusto tempore labore officiis voluptatem alias dolore suscipit facere sed?</div>
       </div>
       <div class="row">
        <div class="col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laboriosam, repellendus ipsam cum, quibusdam aut esse aliquam saepe illo pariatur, iure facere totam natus autem unde labore deleniti placeat rerum mollitia exercitationem voluptates necessitatibus eaque inventore sapiente? Voluptatem, consequuntur consequatur! Animi enim, hic, suscipit, corporis ea nemo ratione tenetur iure quisquam in quod vero sit! Officia exercitationem cum reprehenderit impedit.</div>
        <div class="col-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa minus iusto tempore labore officiis voluptatem alias dolore suscipit facere sed?</div>
       </div>
      </div>


   <hr>
   <div class="container">

    <div class="row">
      <div class="col-md-4 offset-md-1 pink ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, aspernatur.</div>
      <div class="col-md-3 offset-md-2 blue" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio, sequi fugit sunt corporis iure aut minus accusantium sed quo beatae sapiente voluptas, itaque nisi cum, incidunt fugiat placeat voluptates.</div>
    </div>
   </div>
  <h2>Position</h2>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-2 offset-md-1 pink order-md-3">col-1</div>
        <div class="col-md-3 blue order-md-2" >col-2</div>
        <div class="col-md-4 pink order-md-0">col-3</div>
        <div class="col-md-2 blue order-md-1">col-4</div>
      </div>
    </div>
   <hr>
   <h2>nesting</h2>

   <div class="container">
    <div class="row">
      <div class="col-md-6 green" >Ashish
        <div class="row">
          <div class="col-md-6">A </div>
          <div class="col-md-6">B</div>
        </div>
      </div>
    </div>
   </div>


   <hr>
   <h2>Margin class</h2>
   <div class="container">
    <div class="row">
      <div class="col-md-4 green mr-auto">Hello World</div>
      <div class="col-md-4 pink m-auto">Hello World2</div>
    </div>
   </div>




  <div class="container">
    <h1 class="text-center">Todo list</h1>
    <app-todos/>
  </div>

